@import './_variables';

@import './node_modules/stylific/scss/stylific';
@import './node_modules/font-awesome/scss/font-awesome';

@import './node_modules/highlight.js/styles/atelier-dune.light';
// @import './node_modules/highlight.js/styles/atelier-seaside.light';
// @import './node_modules/highlight.js/styles/github-gist';

/*********************************** Misc ************************************/

.fa.inline, .fa:not(:empty)::before {
  margin-left: 0.3em;
  margin-right: 0.3em;
  &:first-child {margin-left: 0}
  &:last-child {margin-right: 0}
}

.fa.pop {
  &:hover, &:focus, &:active {
    transform: scale(1.2);
  }
  @include sf-transitions(all);
}

.dark {
  @extend [class*=sf-icon].dark;
  @include sf-transitions(all);
}

a[href].dark {
  &, &:hover, &:focus, &:active {
    background: none;
  }
}

.fa-github  {color: $color-github}
.fa-twitter {color: $color-twitter}

a[href].fa {
  &, &:hover, &:focus, &:active, &.active {
    background: none;
  }
}

.text-size-double {font-size: 2em}

.wide {
  width: 100%;
}

.text-monospace {
  font-family: $sf-font-family-monospace;
  font-size: 14/16 * 1em;
}

.sf-navbar.sf-navbar-tabs {
  border: none;
}

.shadow {
  @include sf-shadow-weak;
}

dfn[data-sf-tooltip] {
  display: inline-block;
  // box-shadow: 0 1px 0 0 $sf-color-link;
  border-bottom: 1px dotted $sf-color-link;
  cursor: help;
}
